<!DOCTYPE html>
<html>
	<head>
		<title>Zack Hecht Portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/static/css/main.css" type="text/css">
	</head>
	<body>
		<div id="header">
			<div><h1>Zack Hecht</h1></div>
			<div id="nav">
				<button class="active">About</button>
				<button>Skills</button>
				<button>Projects</button>
				<button>Resume</button>
			</div>
			<div id="bottomHeader">
				<div id="linksDiv">
					<a href="https://www.linkedin.com/in/zack-hecht-b47253b5" target="_blank">
						<img src="/static/pictures/linkedin.png" alt="LinkedIn" />
					</a>
					<a href="https://github.com/zhecht?tab=repositories" target="_blank">
						<img src="/static/pictures/github.png" alt="Github" />
					</a>
				</div>
				<h4>zhecht7@gmail.com</h4>
			</div>
		</div>
		<div id="content">
			
			<div id="about">
				<div style="width: 75%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
					<h1>Welcome to my page!</h1>
					<div class="description">
						I graduated from the University of Michigan College of Engineering in 2016 and have since gained invaluable experience as a Junior and now Senior Engineer over various fields of Software.
						<br><br>
						Armed with a never-ending curiosity, an eagerness to learn, and a passion to create, Computer Science was a route I never doubted following.
						<br><br>
						In my free time, I love to listen to records, garden, and play with my dood, <a href="https://i.imgur.com/GBAOuob.jpg">Bonzo</a>. I also enjoy integrating programming into my hobbies, interests, and daily life as much as possible. I find that this is a great way to keep my love for coding, while learning new technology and frameworks along the way.
					</div>
				</div>
				<div class="imgDiv">
					<img src="/static/pictures/profile.jpeg"/>
				</div>
			</div>
			<div id="projects">
				<div id="projects_nav" class="nav"  style="display: none;">
					<button class="active">Personal</button>
					<button>Professional</button>
				</div>
				{% for project in projects["personal"] %}
					<div id="{{project.title}}" class="project slideshow">
						{% for img in project.pics %}
							<div class="slides">
								{% if img.endswith("mp4") %}
									<video src="/static/pictures/{{img}}" controls />
								{% else %}
									<img src="/static/pictures/{{img}}" />
								{% endif %}
							</div>
						{% endfor %}
						<a class="prev" onclick="plusSlides(this, -1)">❮</a>
						<a class="next" onclick="plusSlides(this, 1)">❯</a>
						<div class="captionContainer">
							<p class="caption"></p>
						</div>
						<div class="row">
						{% for img in project.pics %}
							<div class="miniPic">
								<img src="/static/pictures/{{img}}" alt="{{project.pics_desc[loop.index0]}}" onclick="currentSlide('{{project.title}}', {{loop.index}})" />
							</div>
						{% endfor %}
						</div>
					</div>
					<div class="description">
						{% if "site" in project %}
							<h2><a target="_blank" href="{{project.site}}">{{project.title}}</a></h2>
						{% else %}
							<h2>{{project.title}}</h2>
						{% endif %}
						<ul>
						{% for sum in project.summary %}
							<li>{{sum}}</li>
						{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
			<div id="skills">
				<div style="width: 100%;display: flex;justify-content: center;align-items: center;">
					<i>Ranked on experience, last use, and overall knowledge</i>
				</div>
				{% for skillType in skills %}
					<div class="skill">
						<h2>{{skillType}}</h2>
						{% for skillRow in skills[skillType] %}
							<div class="skillDiv">
								<div class="meterDiv">
									<span>{{skillRow["data"]}}</span>
									<meter value="{{skillRow['rating']}}" min="0" max="5"></meter>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			<div id="resume">
				<embed src="/static/resume.pdf" />
			</div>
		</div>
		<script>
			var data = {{projects | tojson | safe}};
		</script>
		<script src="/static/js/main.js"></script>
	</body>
</html>