* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
html {
    height:100%;
}

body {
  background: #f1f1f1;
}

/*      NEW       */
#proj_nav {
  float: left;
  width:100%;
  position: absolute;
  margin-top: 4%;
}
#proj_nav a {
  font-size: 13px;
}
#proj_nav a.prev {
  float: left;
  margin-left: 5%;
}
#proj_nav a.next {
  float: right;
  margin-right: 5%;
}
.arrow_div {
  width:7.5%;
}
.arrow_div.left {
  float: left;
}
.arrow_div.right {
  float: right;
}

#change_projects {
  float: left;
  width: 100%;
  background: #6DBDD6;
}
#change_projects a {
  text-decoration: none;
}
#change_projects .active {
  color:rgba(0,0,0,.6);
  font-weight: bold;
  text-decoration: underline;
}
#footer a.active {
  text-decoration: underline;
}
#objective {
  width:100%;
  float: left;
  background:#6DBDD6;
}
#objective div {
  font-style: italic;
  font-size: 18px;
  width: 90%;
  float: left;
  margin-left: 5%;
  margin-bottom: 5%;
  color:#f1f1f1;
}

#qualifications_hidden {
    width:100%;
}
#qualifications_hidden ul {
  margin:5% 0;
  padding-left: 10%;
}
#qualifications_hidden li {
    text-align:left;
    margin-top:2%;
}
#qualifications_hidden .tables {
  width:50%;
  padding:0 8%;
  float:left;
  height:285px;
}
.tables div {
  width:75%;
  border:1px solid;
  margin-left: 12.5%;
  height: 280px;
}
.tables th {
  font-size: 14px;
  padding:2.5% 0;
  padding-left: 2%;
  color:white;
  background-color:#232526;
  text-align: left;
}
.tables td {
  font-size: 13px;
  padding:2.5% 0;
  text-align: left;
    padding-left: 2%;
  border-left: 2px solid;
  border-right: 2px solid;
}
.tables tr:nth-child(odd) {
  background-color: white;
}
#qualifications_hidden h3 {
  text-align:left;
  padding: 5%;
}
#qualifications_hidden hr {
    width:100%;
}



.proj img {
  width: 90%;
  margin-left: 5%;
  float: left;
}

div.pic_school_1_1,img.pic_school_1_1 {
  width:50%;
  margin-left:25%;
}

#school_0 .img_desc.mob{
  margin-left:calc((100% - 150px)/2);
  width:150px;
}

#school_0 #proj_next.mob{
  margin-right:calc((100% - 150px)/2);
}

#school_0 #proj_prev.mob{
  margin-left:calc((100% - 150px)/2);
}

#school_0 img {
    width:150px;
    margin-top:0%;
    height:90%;
    margin-left:calc((100% - 150px)/2);
}

#pic_school_1_1 {
    width:50%;
    margin-left:25%;
}

.hidden {
    text-align:center;
    color:#232526;
    margin-top:5%;
    width:100%;
    float: left;
    font-family: headerFont;
}



.hidden span:not(.img_desc) {
    font-family:headerFont;
    font-size:2em;
    margin-bottom:5%;
    float:left;
    width:100%;
    text-decoration: underline;
    padding-top: 3%;
}

span.pic_nav {
    width:80%;
    font-size:14px;
    margin:1% 10%;
    text-align:center;
}

#pic_nav_prof span {
    margin-bottom:0;
    font-size:12px;
    width:initial;
}
#pic_nav_prof span:nth-child(1) {
    float:left;
    margin-top:-5%;
    margin-left:-5%;
}
#pic_nav_prof span:nth-child(2) {
    float:right;
    margin-top:-5%;
    margin-right:8%;
}

#projects_title {
  margin-bottom: 3%;
}

#projects_body {
    font-size:12px;
    float:left;
    width:100%;
    padding-top:2%;
    padding:2% 0;
    
}
#projects_hidden {
  background: #6DBDD6;
}

#resume_hidden {
  margin-bottom: 15%;
}

.proj {
  width: 85%;
  margin-left: 7.5%;
  float: left;
}


.proj h3:not(.proj_date) {
  font-size: 22px;
}

.proj div {
    width:50%;
    float:left;
    text-align:left;
}



img.mob {
  width:225px;
  height: initial;
  margin-left: calc((100% - 225px) / 2);
}



.img_desc.desktop {
  margin:90%;
  margin-left: 
}



img.desktop {
  display: none;
}

.proj hr {
  float: left;
  width: 100%;
}

.proj div.pics {
  
  height:100%;
  position: relative;
}

.pics .nav {
  width: 100%;
}

.pics .nav a {
  font-size: 12px;
  padding:2% 0;
}

#proj_prev {
  margin-left: 5%;
  float: left;
}

#proj_next {
  margin-right: 5%;
  float: right;
}

#proj_prev.mob {
  margin-left: calc((100% - 225px) / 2);
}

#proj_next.mob {
  margin-right: calc((100% - 225px) / 2); 
}

.pics .img_desc {
  position: absolute;
  bottom:0;left:0;
  float: left;
  width:90%;
  height:30px;
  line-height:30px;
  background: rgba(0,0,0,.6);
  margin:0 5%;
  color:white;
  text-align: center;

}

.img_desc.mob {
  margin-left: calc((100% - 225px) / 2);
  width:225px;
}

.proj li {
  font-size: 14px;
}

.proj_name {
  float: left;
}
.proj_name a {
 
}
.proj_date {
  font-size: 16px;
  float: right;
  padding-right: 3%;
}

@font-face {
    font-family: "headerFont";
    src: url("fonts/header.otf");
}
a {
    color: white;
    font-size: 16px;
    
}
#header {
  width:100%;
  text-align: center;
  position:fixed;
  padding:25px 0;
  color:white;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526 , #414345);
  background: linear-gradient(to left, #232526 , #414345);
  box-shadow: 0 8px 2px -2px rgba(0,0,0,0.3);
  z-index: 5;
}
#name {
  font-size: 50px;
  font-family: headerFont;
  text-align: left;
  padding-left: 5%;
  float: left;
}
#contact {
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 0;
  width:100%;
}

#contact a {
  margin-right: 2.5%;
  font-style: italic;
  color:#6DBDD6;
}

#footer {
  z-index: 3;
  padding:2.5% 0;
  text-align:center;
  color:white;
  font-family:headerFont;
  position:fixed;
  width:100%;
  bottom:0;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526 , #414345);
  background: linear-gradient(to left, #232526 , #414345);
}

#footer a{
    font-size:20px;
    color:white;
    text-decoration:none;
    position:relative;

}

#footer a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background:white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#footer a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.trans-top {
    top:0;
    text-align:left;
    transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
}

.underline {
    text-decoration:underline;
}


@media (min-width: 375px) {
  
}
@media (min-width: 768px) {

}

/*      END NEW     */






svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  float: left;
}



.container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari */
  transform: rotate(270deg);
  z-index: 2;

}


#menu {
  width: 100%;
  position: absolute;
  top: 16%;
  background: #ffcb05;
  background: #F58426;
  box-shadow: 10px 10px 5px #888888;
  z-index: 3;
}

.vr {
  float: left;
  width: 3px;
  height: 45px;
  margin-top: 2%;
  background: #BEC0C2;

}

#menu button:nth-child(1) {
  margin-left: 13%;
}

#menu button {
  border: 0px;
  font-size: 48px;
  float: left;
  padding: 10px;
  width: 20%;
  background: rgba(0,0,0,0);
  color: #006BB6;
}

#menu button:hover {
  cursor: pointer;
}

#menu button.active {
  box-shadow: inset 0 0 0 0px white,inset 0 5px 40px #231F20;
}

#interests {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 33%;
  z-index: 5;

}

#interests div:nth-child(2) h3,
#interests div:nth-child(3) h3 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 5%;
}



#interests div:nth-child(1) {
  width: 15%;
  height: 140%;
  margin-left: 14%;
  float: left;
}

#interests div:nth-child(2) {
  width: 30%;
  height: 140%;
  float: left;
}

#interests div:nth-child(3) {
  width: 30%;
  height: 140%;
  float: left;
}

#interests div:nth-child(1) h3 {
  font-size: 26px;
  margin-bottom: 5%;
}

#interests div:nth-child(1) img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-top: 5%;
}

#interests div:nth-child(1) img:nth-child(2) {
  margin-left: -8%;
}

#interests div:nth-child(1) img:nth-child(3) {
  margin-left: 12%;
}

#interests div:nth-child(1) img:nth-child(4) {
  width: 90px;
  height: 90px;
  margin-left: 35%;
}

#interests div:nth-child(2) {
  padding-left: 10%;
}

#interests p {
  font-size: 22px;
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

#interests div:nth-child(2) img{
  width: 40%;
  height: 90px;
  float: left;
}




#home {
  width: 100%;
  height: 40%;
  position: absolute;
  top: 45%;

}

#home div {
  width: 50%;
  height: 100%;
  float: left;
  background: rgba(0,0,0,0);
}

#home div:nth-child(1) {
  min-width: 30%;
}

#home div:nth-child(1) h2 {
  padding-left: 40%;
  padding-bottom: 2%;
  font-size: 28px;
}

#home div:nth-child(1) h3 {
  padding-left: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 23px;
}

#home div:nth-child(1) ul {
  padding-left: 40%;
  list-style: circle;
}

#home div:nth-child(1) hr {
  width: 10%;
  margin: 1% 0 1% 45%;
}

#home div:nth-child(1) ul:nth-child(2) {
   padding-left: 33%;
}

#home div:nth-child(1) ul:nth-child(3) {
   padding-left: 34%;
}

#home div:nth-child(1) ul:nth-child(4) {
   padding-left: 35%;
}

#home div:nth-child(1) ul:nth-child(6) {
   padding-left: 38%;
}

#home div:nth-child(1) ul:nth-child(7) {
   padding-left: 39%;
}

#home div:nth-child(1) ul:nth-child(10) {
   padding-left: 43%;
}

#home div:nth-child(1) ul:nth-child(11) {
   padding-left: 44%;
}

#home div:nth-child(1) ul:nth-child(12) {
   padding-left: 46%;
}

#home div:nth-child(1) ul:nth-child(13) {
   padding-left: 47%;
}



#home div:nth-child(2) p{
  width: 60%;
  margin-left: 40%;
  padding-top: 8%;
}

#home div:nth-child(2) div {
  width: 50%;
  height: 20%;
  background: rgba(0,0,0,0);
  float: left;
}

#home div:nth-child(2) h3 {
  padding-left: 40%;
  margin-top: 2%;
}

#leftLang ul {
  float: right;
  margin-top: 5%;
  margin-right: -25%;
}

#rightLang ul{
  margin-top: 5%;
  margin-left: 45%;
}







#proj2 {
  margin-left: 5%;
  margin-bottom: 8%;
}

#proj3 {
  width: 90%;
  margin-left: 10%;
  margin-bottom: 5%;
}

#proj4 {
  width: 95%;
  margin-left: 5%;
  margin-bottom: 7%;
}

#proj5 {
  width: 95%;
  margin-left: 5%;
  margin-bottom: 2%;
}

#proj6 {
  width: 90%;
  margin-left: 10%;
}

.proj h5 {
  font-size: 18px;
  padding-top:1%;
}

.proj ul {
  width: 100%;
  float: left;
}

#proj3 ul {
  width: 65%;
  margin-left: 0%;
}

#proj5 ul {
  width: 40%;
  margin-left: 0%;
}

#proj4 ul {


}

.proj li:nth-child(1) {
  margin-top:10%;
}
.proj li {
  list-style: circle;
  float: left;
  margin-top: 20px;
}

#proj4 li {

}



#proj4 img {
  margin-left: 0%;
  margin-left: 3%;
}

#proj2 img {
  margin-right: 3%;
  margin-left: 2%;
}

#proj5 img {
  margin-left: 0%;
  margin-top: -5%;
}

#proj2 a, #proj2 h3 {
  z-index: 5;
}

#proj3 {
  margin-bottom: 10%;
}

#proj3 img {
  width: 40%;
  margin-left: 0%;
  margin-right: 5%;
}

#proj6 img {
  margin-left: 0%;
  margin-right: 5%;
}

#se2 {
  width: 30%;
  margin-left: 10%;
}
.showDiv button:nth-child(1) {
  margin-left: 25%;
}
.showDiv button {
  text-align: center;
  width:25%;
  height: 40px;
  padding:0;
  float:left;
  border-radius: 0;
  border:2px solid black;
  background: #FFF;
  background: #e6e8fa;
  font-weight: bold;
  color: black;
  font-size: 12px;
  padding-left: 3px;
  padding-right: 3px;
}
.showDiv button.active {
  box-shadow: inset 0px 0px 18px 5px rgba(24,34,122,.75);
  -moz-box-shadow: inset 0px 0px 18px 5px rgba(24,34,122,.75);
  -webkit-box-shadow: inset 0px 0px 18px 5px rgba(24,34,122,.75);
}
div.showDiv {
  width:100%;
  margin: 0% 0 3% 0;
  float: left;
  text-align:left;
  display: none;
}

.desc_wrap {
  width:40%;
}



@media (max-width: 375px) {
  #name {
    width:100%;
    padding:0;
    font-size: 50px;
    text-align: center;
  }
  .proj_name,.proj_date {
    width:100%;
    padding-right: 0%;
  }
  #contact {
    text-align: center;
  }
  #contact a {
    font-size: 14px;
    margin-right: 0;
  }
  
  #qualifications_hidden .tables {
    width:60%;
    padding:0 4%;
    height: 225px;
  }
  #languages.tables {
    width:40%;
  }
  div.desc_wrap,.proj div.pics {
    width:100%;
  }
  ul.desc {
    width:90%;
    float: left;
    margin-left: 10%;
  }
  .proj li:nth-child(1) {
    margin-top: 5%;
  }
  #proj_nav a.next {
    margin-right: 2.5%;
  }
  #proj_nav a.prev {
    margin-left: 2.5%;
  }
}

@media (max-width: 325px) {
  #name {
    font-size: 40px;
  }
  #contact a {
    font-size: 12px;
  }
}